.bordes-imagen {
  background-size: cover;
  background-repeat: no-repeat;
}
.family {
  font-family: "Poppins", sans-serif;
}
.error {
  color: #c40000;
  font-size: 0.8rem;
}
.displayNone {
  display: none;
}
* {
  padding: 0;
  margin: 0;
}
header {
  background: #6139c5;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #2222;
  margin-bottom: 5.3vh;
}
header img {
  width: 40px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 7px;
  box-shadow: 5px 5px 1px 1px rgba(255, 255, 255, 0.2);
}
header p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 10px;
  display: inline-block;
  color: #fff;
  position: absolute;
  margin-left: 25px;
  margin-top: 14px;
}
header {
  margin-bottom: 2.9vh;
}
a {
  font-family: "Poppins", sans-serif;
}
body {
  background: #6a3be4;
  font-family: "Poppins", sans-serif;
}
body main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main form {
  max-width: 400px;
  min-width: 400px;
  height: auto;
  padding: 20px;
  padding-block: 60px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 7.5vh;
}
body main form h1 {
  text-align: center;
  letter-spacing: 8px;
}
.form .form_info-input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form_info-input input {
  width: 75%;
  margin-block: 10px;
  border: none;
  border-bottom: 1px solid #555;
  padding: 10px;
  outline: none;
}
.form_info-sex {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.form_info-sex input {
  cursor: pointer;
}
.form_info-sex span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}
.form h2 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}
.form_data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_data input {
  margin-top: 22px;
  width: 50%;
  border: 1px solid #6a3be4;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.form_button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_button input {
  letter-spacing: 1px;
  font-size: 1rem;
  color: #fff;
  border: none;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 25px;
  background: #6a3be4;
  font-family: "Poppins", sans-serif;
}
.form_button input:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.form_button a {
  margin-top: 20px;
}
.form_button a:hover {
  color: #000;
}
.check-circle {
  position: fixed;
  top: 200px;
  left: 500px;
  display: none;
}
.check-circle .fa-check-circle {
  color: #33db33;
}
.check-circle .fa-times-circle {
  color: #c40000;
  font-size: 0.8rem;
}
.form_info-false {
  color: #c40000;
  font-size: 0.8rem;
}
.form_info-mail {
  color: #c40000;
  font-size: 0.8rem;
  display: none;
}
.form_info-pass {
  color: #c40000;
  font-size: 0.8rem;
  display: none;
}
.form_info-pass2 {
  color: #c40000;
  font-size: 0.8rem;
  display: none;
}
.errado,
.correcto {
  position: absolute;
  top: 68vh;
  left: 78vw;
  display: none;
}
.errado i {
  color: #c40000;
}
.correcto i {
  color: #33db33;
}
.errado2 {
  display: block;
}
.correcto2 {
  display: block;
}
.body_footer {
  background: #fff;
  height: auto;
}
.body_footer a {
  padding: 15px;
  color: #000;
  text-decoration: none;
  display: inherit;
}
.body_footer a:hover {
  text-decoration: underline;
}
@media (min-width: 440px) {
  .body_footer {
    display: flex;
  }
}
.displayBlock {
  display: block;
}
