@import "partes/variables.less";
@import "partes/header.less";
header {
  margin-bottom: 2.9vh;
}
a {
  .family;
}
body {
  background: @clr-purpur;
  .family;
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      max-width: 400px;
      width: 400px;
      min-width: 250px;
      height: auto;
      padding: 20px;
      padding-block: 60px;
      border-radius: 25px;
      background: @clr-white;
      box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 0.2);
      margin-bottom: 7.5vh;
      h1 {
        text-align: center;
        letter-spacing: 8px;
      }
    }
  }
}
// imputs
.form {
  .form_info-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 75%;
      margin-block: 10px;
      border: none;
      border-bottom: 1px solid @clr-gray;
      padding: 10px;
      outline: none;
    }
  }
  &_info-sex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    input {
      cursor: pointer;
    }
    span {
      margin-left: 10px;
      .family;
    }
  }
  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
  }
  &_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      margin-top: 22px;
      width: 50%;
      border: 1px solid @clr-purpur;
      padding: 10px;
      cursor: pointer;
      outline: none;
    }
  }
  &_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      letter-spacing: 1px;
      font-size: 1rem;
      color: @clr-white;
      border: none;
      width: auto;
      height: auto;
      padding: 10px 15px;
      border-radius: 25px;
      background: @clr-purpur;
      .family;
    }
    input:hover {
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    a {
      margin-top: 20px;
    }
    a:hover {
      color: @clr-black;
    }
  }
}
// inputs Comprobación
//name
.check-circle {
  position: absolute;
  top: 230px;
  left: 80%;
  display: none;
  .fa-check-circle {
    color: @clr-green;
  }
  //Nombre Errado
  .fa-times-circle {
    .error;
  }
}
// Nombre Incorrecto
.form_info-false {
  color: @clr-red;
  font-size: 0.8rem;
}
//Email incorrecto
.form_info-mail {
  .error;
  .displayNone;
}

//Pass incorredcto
.form_info-pass {
  .error;
  .displayNone;
}
//pass no coinciden
.form_info-pass2 {
  .error;
  .displayNone;
}
.errado,
.correcto {
  position: absolute;
  top: 400px;
  left: 80%;
  display: none;
}
.errado i {
  color: @clr-red;
}
.correcto i {
  color: @clr-green;
}
.errado2 {
  display: block;
}
.correcto2 {
  display: block;
}
@import "partes/footer.less";
.displayBlock {
  display: block;
}
//Terminos y Condiciones
.TerminosCondiciones {
  text-align: center;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: @clr-black;
    .family;
  }
  a:hover {
    color: @clr-purpur;
  }
}
// Formulario Enviado
.warnings {
  color: @clr-gray;
  margin-top: 10px;
}
@media (min-width: 477px) {
  .errado,
  .correcto {
    left: 70%;
  }
  .check-circle {
    left: 70%;
  }
}
@media (min-width: 721px) {
  .errado,
  .correcto {
    left: 60%;
  }
  .check-circle {
    left: 60%;
  }
}
@media (min-width: 1439px) {
  .errado,
  .correcto {
    left: 58%;
  }
  .check-circle {
    left: 58%;
  }
}
