.bordes-imagen {
  background-size: cover;
  background-repeat: no-repeat;
}
.family {
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
a {
  font-family: "Poppins", sans-serif;
}
body {
  background: #6a3be4;
  font-family: "Poppins", sans-serif;
}
body header {
  background: #6139c5;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #2222;
}
body main {
  width: 100%;
}
body main .form {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
body main .form h1 {
  font-family: "Poppins", sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 8px;
}
body main .form_forget {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
body main .form_forget div p {
  display: inline-block;
  padding-left: 5px;
  color: #000;
}
body main .form_forget div a {
  color: #000;
}
body main .form_social {
  width: 60%;
  margin: 0 auto;
}
body main .form_social i {
  margin-right: 10px;
}
.form_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_input input {
  width: 80%;
  height: 30px;
  margin-inline: 10px;
  margin-block: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  outline: none;
  color: #fff;
  padding-left: 10px;
  font-size: 15px;
}
.form_input div input {
  border: none;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 25px;
  background: #6a3be4;
  font-family: "Poppins", sans-serif;
}
.form_input div input:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
::placeholder {
  color: #555;
  font-family: "Poppins", sans-serif;
}
