.bordes-imagen {
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(https://images.pexels.com/photos/1387037/pexels-photo-1387037.jpeg?cs=srgb&dl=pexels-bayu-jefri-1387037.jpg&fm=jpg);
  .bordes-imagen;
}
