.bordes-imagen {
  background-size: cover;
  background-repeat: no-repeat;
}
.family {
  font-family: "Poppins", sans-serif;
}
@clr-purpur: #6a3be4;
@clr-dark-purpur: #6139c5;
@clr-white: #fff;
@clr-black: #000;
@clr-gray: #555;
* {
  padding: 0;
  margin: 0;
}
